.idea/artifacts
.idea/dictionaries
.idea/runConfigurations
.idea/shelf
.idea/workspace.xml
/.idea131
/*.ipr
/*.iws
/build
/classes
/deliver
/launch
/target
auth/target
dxfeed-api/target
dxfeed-bin/target
dxfeed-codegen-verify/target
dxfeed-codegen/target
dxfeed-impl/target
dxfeed-ipf-filter/target
dxfeed-news/target
dxfeed-ondemand/target
dxfeed-plotter/target
dxfeed-promise/target
dxfeed-samples/target
dxfeed-tools/target
dxfeed-viewer-installer/target
dxfeed-viewer/target
dxfeed-webservice/overlays
dxfeed-webservice/target
dxlib-qd-sandbox/target
dxlib/target
jspc-maven-plugin/target
license/target
mars-sample/target
mars/target
proto-sample/target
proto-ssl/target
proto/target
qd-core/target
qd-dataextractor/target
qd-logger/target
qd-nio/target
qd-rmi/target
qd-sample/target
qd-samplecert/target
qd-servlet/target
qd-stripe/target
qd-tools/target
qds-file/target
qds-monitoring/target
qds-tools/dependency-reduced-pom.xml
qds-tools/target
qds/dependency-reduced-pom.xml
qds/target
rt-api-builder/target
teamcity-version/target
