#COMMON PROPERTIES
useSSL=true
loggingPeriod=2s
numberOfClients=1000

#CLIENT-SIDE PROPERTIES
host=127.0.0.1
port=5665
heartbeatPeriod=12s
heartbeatPeriodVariation=2s

#SERVER-SIDE PROPERTIES
address=nio:5665
distributionPeriod=100
#patterns=2500:78;1000:22;300:46
patterns=200:1
#patterns format: <size-of-message>:<messages-per-client-per-minute>
messageSizeVariation=0.1
sizeOverhead=1.15
