<?xml version="1.0" encoding="UTF-8"?>
<!--
  !++
  QDS - Quick Data Signalling Library
  !-
  Copyright (C) 2002 - 2021 Devexperts LLC
  !-
  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  If a copy of the MPL was not distributed with this file, You can obtain one at
  http://mozilla.org/MPL/2.0/.
  !__
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- GZIP everything -->
    <filter>
        <filter-name>gzip</filter-name>
        <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>gzip</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- data extractor servlet -->
    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>com.devexperts.qd.dataextractor.DataExtractorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data.binary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data.text</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data.csv</url-pattern>
    </servlet-mapping>
</web-app>
