<?xml version="1.0" encoding="UTF-8"?>
<!--
  !++
  QDS - Quick Data Signalling Library
  !-
  Copyright (C) 2002 - 2021 Devexperts LLC
  !-
  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  If a copy of the MPL was not distributed with this file, You can obtain one at
  http://mozilla.org/MPL/2.0/.
  !__
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Context JS file is mapped to servlet to embed context path.
         Uncomment the mapping below if no precompilation of JSPs is used. -->
    <!--
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>/js/dxfeed/dxfeed.context.js</url-pattern>
    </servlet-mapping>
    -->

    <!-- rest servlet -->
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>com.dxfeed.webservice.rest.EventsServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- cometd servlet -->
    <servlet>
        <servlet-name>cometd</servlet-name>
        <servlet-class>com.dxfeed.webservice.comet.DXFeedCometDServlet</servlet-class>
        <init-param>
            <param-name>debugSessions</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>transports</param-name>
            <param-value>com.dxfeed.webservice.comet.WebSocketTransportExtension</param-value>
        </init-param>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.dxfeed.webservice.comet.DataService</param-value>
        </init-param>
        <init-param>
            <param-name>jsonContext</param-name>
            <param-value>com.dxfeed.webservice.comet.DataJsonContext</param-value>
        </init-param>
        <init-param>
            <param-name>ws.cometdURLMapping</param-name>
            <param-value>/cometd/*</param-value>
        </init-param>
        <init-param>
            <param-name>ws.maxMessageSize</param-name>
            <param-value>200000</param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>maxQueue</param-name>
            <param-value>100000</param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>cometd</servlet-name>
        <url-pattern>/cometd/*</url-pattern>
    </servlet-mapping>

    <!-- cometd cross-origin request support -->
    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/cometd/*</url-pattern>
    </filter-mapping>

</web-app>
